doctype html
html
	head
		meta(charset='UTF-8')
		title CSIE Basketball
		link(rel='stylesheet', href='../stylesheets/reset.css')
		link(rel='stylesheet', href='../stylesheets/style.css')
	body
		.module.form-module
			.form
				h2 login to csie basketball
				h2(id='error')
				form(method='post', action='', id='Loginform')
					input(type='text',id ='loginID', name='loginID', placeholder='student ID', onblur='realtime()')
					input(type='password',id='password', name='password', placeholder='password', onblur='realtime()')
					button(type='submit', name='loginSub', id='submit_button') submit
			.cta
				a(href='#') forgot your password?
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
		script(type='text/javascript').
			function realtime(){
				var account = document.getElementById('loginID').value;
				var password = document.getElementById('password').value;
				console.log(account);
				console.log(password);
				if(account == ''){
					document.getElementById('Loginform').style.border = 'red 5px solid';
					document.getElementById('error').innerHTML = 'Please enter your account';
					document.getElementById('error').style.color = '#FF0000';
				} else if(password == ''){
					document.getElementById('Loginform').style.border = 'red 5px solid';
					document.getElementById('error').innerHTML = 'Please enter your password';
					document.getElementById('error').style.color = 'red';
				} else{
					document.getElementById('Loginform').style.border = '';
					document.getElementById('error').innerHTML = '';
				} 
			}
